@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Big+Shoulders+Inline+Text:wght@900&family=Bungee+Outline&family=Dancing+Script:wght@500&family=Indie+Flower&family=JetBrains+Mono:ital,wght@1,300&family=Lobster&family=Orbitron:wght@500&family=Righteous&family=Roboto&family=Sacramento&family=Special+Elite&display=swap');

.container{
    padding-top:100px;
}
.drawing-area{
    position: absolute;
    top: 120px;
    left: 180px;
    z-index: 10;

}

.canvas-container{
    position: relative; 
    user-select: none;
}

#tshirt-div{
    width: 700px;
    position: relative;
    background-color:white;
}

#canvas{
    position: absolute;
    left: 0px; 
    top: 0px; 
    user-select: none; 
    cursor: default;
}

#tshirt-design-wrapper{
    padding-top: 50px;
    padding-left: 100px

}

#tshirt-backgroundpicture{
    left:-20px;
}

.hidden{
    visibility: hidden;
}

.model {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 100;
    background-color: white;
    width:500px;
    max-width:80%;
}

.model.active{
    transform: translate(-50%, -50%) scale(1);
}

.model-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.model-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.model-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background:none;
    font-size: 1.25rem;
    font-weight: bold;
    color: red;
}

.model-body{
    padding: 10px 15px;
}

#overlay{
    position:fixed;
    opacity:0;
    transition: 200ms ease-in-out;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;

}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

#gallary{
    position: fixed;
    top: 20px;
    left: 20px
}