@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Big+Shoulders+Inline+Text:wght@900&family=Bungee+Outline&family=Dancing+Script:wght@500&family=Indie+Flower&family=JetBrains+Mono:ital,wght@1,300&family=Lobster&family=Orbitron:wght@500&family=Righteous&family=Roboto&family=Sacramento&family=Special+Elite&display=swap');

.container{
    padding-top:100px;
}
.drawing-area{
    position: absolute;
    top: 120px;
    left: 180px;
    z-index: 10;

}

.canvas-container{
    position: relative; 
    user-select: none;
}

#tshirt-div{
    width: 700px;
    position: relative;
    background-color:white;
}

#canvas{
    position: absolute;
    left: 0px; 
    top: 0px; 
    user-select: none; 
    cursor: default;
}

#tshirt-design-wrapper{
    padding-top: 50px;
    padding-left: 100px

}

#tshirt-backgroundpicture{
    left:-20px;
}

.hidden{
    display: none;
}

.model {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 100;
    background-color: white;
    width:500px;
    max-width:80%;
}

.model.active{
    transform: translate(-50%, -50%) scale(1);
}

.model-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.model-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.model-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background:none;
    font-size: 1.25rem;
    font-weight: bold;
    color: red;
}

#gallaryCloseButton{
    cursor: pointer;
    border: none;
    outline: none;
    background:none;
    font-size: 1.25rem;
    font-weight: bold;
    color: red;
    position:absolute;
    top:0px;
    left:0px
 


}



.model-body{
    padding: 10px 15px;
}

#overlay{
    position:fixed;
    opacity:0;
    transition: 200ms ease-in-out;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;

}
#overlay.active{
    opacity:0.5
}

#gallary_container{
    position: absolute;
    width:100%;
    height:100%;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-between;
    overflow:auto; 
}

#gallary{

    top:20px;
    left:20px;
}

.card{
    width: 250px;
    height:300px;
    padding:20px;
    margin:20px;


}

button{
    border: none;
    background-color: transparent;
}



/* button styleing */
html, body {
    display: grid;
    height: 100%;
}

a {
    color: #3F3F3F;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: auto;
    padding: 12px 32px 12px 82px;
    position: relative;
    text-decoration: none;
}

a .label,
a .icon-arrow {
    backface-visibility: hidden;
    transform: translateZ(0);
    perspective: 1000;
}

a .label {
    display: inline-block;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

a .icon-arrow {
    fill: #3F3F3F;
    height: 15px;
    top: 17px;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
    width: 35px;
}

a .icon-arrow.before {
    left: 32px;
    margin-right: 15px;
    position: absolute;
    transform-origin: left center;
}

a .icon-arrow.after {
    margin-left: 15px;
    opacity: 0;
    position: absolute;
    right: 32px;
    transform: translateX(75%) scaleX(0.1);
    transform-origin: right center;
}

a:hover .label {
    transform: translateX(-52px);
}

a:hover .icon-arrow.before {
    opacity: 0;
    transform: translateX(-75%) scaleX(0.1);
}

a:hover .icon-arrow.after {
    opacity: 1;
    transform: translateX(0) scaleX(1);
}

a:active {
    border-color: #FD6154;
    color: #FD6154;
}

a:active .icon-arrow {
    fill: #FD6154;
}


body {
    height: 100vh;
    background: linear-gradient(-90deg, #e37682, #a58fe9);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .hexagon-wrapper {
    margin: 10px;
    display: flex;
    text-align: initial;
    width: 200px;
    height: 200px;
    cursor: pointer;
    left: 950px;
  }
  
  .hexagon {
    position: relative;
    width: 25%;
    height: 60%;
    margin: auto;
    color: white;
    background: linear-gradient(-180deg, white, #fda3b2);
    display: flex;
    align-content: center;
    justify-content: center;
    transition: 0.5s;
  }
  
  .hexagon button{
    z-index: 1;
    margin: auto;
    font-size: 30px;
    border: none;
    outline: none; 
    color: transparent;
    background: linear-gradient(45deg, #a58fe9, #e37682);
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  .hexagon:before,
  .hexagon:after {
    position: absolute;
    content: "";
    background: inherit;
    height: 100%;
    width: 100%;
    border-radius: 0;
    transition: 0.5s;
    transform-origin: center;
  }
  .hexagon:before {
    transform: rotateZ(60deg);
  }
  .hexagon:after {
    transform: rotateZ(-60deg);
  }
  .hexagon:hover {
    border-radius: 50px;
    transition: 0.5s;
  }
  .hexagon:hover:before {
    border-radius: 50px;
    transition: 0.5s;
  }
  .hexagon:hover:after {
    border-radius: 50px;
    transition: 0.5s;
  }
  
  h1{
      font-family: Lobster;
      font-size: 100px;
      color: pink;
  }
 
  #controlDesign{
      display: inline-block;
  }

  #done{
      border-radius: 50%;
      background: linear-gradient(to top right, #0000ff 0%, #3399ff 100%)
    }

#clearcanvas{
    border-radius: 50%;
    background: linear-gradient(to top right, #ff66ff 0%, #cc0066 100%);
  }

  #likeButton{
   
        background-color: RED;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-right: 80px;
        margin-top: -30px;
        margin-left: 40px;
        cursor: pointer;
      
  }


